@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(#39519f, #3939e7);
    z-index: -999;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.logo {
    max-width: 250px;
    display: flex;
    align-items: center;
}

.links ul {
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    margin-right: 0.6rem;
    color: #ffffff;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    border-radius: 1.5rem;
    transition: 0.3s;
}

.links a.active,
.links a:hover {
    color: #0b0235;
    background: #ffffff;
}

.hamburger-menu {
    width: 2.7rem;
    height: 3rem;
    z-index: 100;
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu .bar {
    position: relative;
    width: 2.1rem;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 2.1rem;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero #base {
    z-index: 6;
}

.hero #text {
    position: absolute;
    color: #fefefe;
    font-size: clamp(2.5rem, 7vw, 6rem);
    white-space: nowrap;
    letter-spacing: 3px;
    z-index: 24;

}

#btn {
    font-size: 18px;
    position: absolute;
    color: #fefefe;
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
    border: 2px solid #fefefe;
    border-radius: 25px;
    background: transparent;
    z-index: 7;
    letter-spacing: 0.51px;
    transform: translateY(200px);
}

.section-padding {
    padding: 80px 0;
    background: #fefefe;
}


.campus {
    padding: 80px 0;
    text-align: center;
    min-height: 100vh;
    background: url("./images/jungle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campus #text {
    position: absolute;
    width: 100%;
    color: #fefefe;
    font-size: clamp(1rem, 5vw, 45rem);
    white-space: nowrap;
    letter-spacing: 3px;


}

#myMap {
    margin-top: 20vh;
    height: 500px;
    width: 50%;
}


.about {
    padding: 80px 0;
    text-align: center;
    min-height: 100vh;
    background: url("./images/jungle3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about #text {
    position: absolute;
    width: 100%;
    color: #fbfbfb;
    font-size: clamp(1rem, 5vw, 45rem);
    white-space: nowrap;
    letter-spacing: 3px;


}

.about_info {
    margin-top: 20vh;
    text-align: justify;
    width: 80%;
    background-color: #0b0235;
    color: #fefefe;
    padding: 1rem;
    font-size: 0.9rem;
}



.gallery {
    padding: 5%;
    text-align: center;
    min-height: 100vh;
    background: url("./images/jungle2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    position: relative;
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    overflow: hidden;
}


.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.overlay h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover .overlay {
    opacity: 1;
}


footer {
    background: #0b0235;
    padding: 60px 0;
    text-align: center;
}

footer img {
    max-width: 200px;
}

@media (max-width:992px) {
    .hamburger-menu {
        display: flex;
    }

    .links ul {
        display: none;
    }

    h4 {
        font-size: 1.2rem;
    }

    .heading {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .left-content,
    .right-content {
        padding: 0.4rem;
    }

    .hero #text {
        font-size: clamp(0.8rem, 7vw, 7rem);
    }

    img {
        width: 75%;
    }

    #myMap {
        margin-top: 12vh;
        height: 600px;
        width: 95%;
    }

    .gallery-item {
        flex-basis: 100%;
    }
}